.textComponent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textComponent Button {
    margin-left: 20px;
}

#textValue {
    width: 50%;
    margin-bottom: 7px;
}

.heightButton {
    margin-bottom: 7px;
}